<div class="container-fluid">
    <!-- Creates the navbar -->
    <nav class="navbar navbar-default navbar-inverse">
        <!-- This creates the mechanism for collapse button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <!-- This controls the number of lines in the image when the nav collapse -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- This is the brand on the left-hand side. -->
        <a class="navbar-brand" href="/#/"> Winperson</a>

        <!-- This is what is the above collapse button points to when the mark-up below is collapsed -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav">
                <li><a href="#/job">Job</a></li>
                <li><a href="#/question">Questions</a></li>
            </ul>
            <!-- This is what "styles" the li's as navbar items -->
            <ul class="nav navbar-nav navbar-right">
                <!-- navbar-right pulls this element right -->
                <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
            fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
            controller will not be tied to this element. -->
                <li>
                    <a href="/logout">sign-out</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1>This is the Dashboard</h1>

</div>