<!--invite Form -->
<div class="container-fluid">
    <!-- Creates the navbar -->
    <nav class="navbar navbar-default navbar-inverse">
        <!-- This creates the mechanism for collapse button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <!-- This controls the number of lines in the image when the nav collapse -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- This is the brand on the left-hand side. -->
        <a class="navbar-brand" href="/#/"> Winperson</a>

        <!-- This is what is the above collapse button points to when the mark-up below is collapsed -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <!-- This is what "styles" the li's as navbar items -->
            <ul class="nav navbar-nav navbar-right">
                <!-- navbar-right pulls this element right -->
                <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
            fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
            controller will not be tied to this element. -->
                <li>
                    <a href="#/logout" ng-click="signout()">Signout</a>
                </li>
                <!-- <a ng-controller="signinController" class="btn btn-default navbar-btn navbar-right" href="#" ng-if="!isAuthenticated">sign-in</a> -->
                <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
            fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
            controller will not be tied to this element. -->
            </ul>
        </div>
    </nav>

    <!-- enctype="multipart/form-data" -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="icon-calendar"></i>
                    <h3 class="panel-title"> New Job</h3>
                </div>

                <div class="panel-body">
                    <form id="uploadForm" enctype="multipart/form-data" method="post">
                        <input type="file" file-model="csvFile" accept=".csv" /><br>
                        <button ng-click="uploadFile()">upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>