<!--login Form -->
<div class=" col-md-8 col-md-offset-2">
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center">Winperson</h1>
                </div>
                <div class="modal-body">
                    <form class="form col-md-12 center-block" ng-submit="submitLoginForm()" name="login"id="sign-in-form" class="form-signin" name="signin">
                        <div class="form-group"ng-class="{'has-error':login.email.$invalid &&
                              login.email.$dirty }">
                            <input type="email" class="form-control input-lg" ng-model="loginForm.email" placeholder="Email" name="email" required>
                            <span class="help-block has-error" ng-if="login.email.$dirty">
                            <span ng-show="login.email.$error.required">Email address is required.</span>
                            <span ng-show="login.email.$error.email">Not a valid email address.</span>
                            </span>
                        </div>
                        <div class="form-group" ng-class="{'has-error':login.password.$invalid &&login.password.$dirty}">
                            <input type="password" class="form-control input-lg" ng-model="loginForm.password" placeholder="Password" name="password" required>
                            <span class="help-block has-error" ng-if="login.password.$dirty">
                            <span ng-show="login.password.$error.required">Password is required.</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block">Login</button>
                            <br>
                            <span class="pull-right"> <a href="#/signup">Register</a></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>