<div class="container-fluid">
    <!-- Creates the navbar -->
    <nav class="navbar navbar-default navbar-inverse">
        <!-- This creates the mechanism for collapse button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <!-- This controls the number of lines in the image when the nav collapse -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- This is the brand on the left-hand side. -->
        <a class="navbar-brand" href="/#/"> Winperson</a>
    
        <!-- This is what is the above collapse button points to when the mark-up below is collapsed -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          
            <!-- This is what "styles" the li's as navbar items -->
            <ul class="nav navbar-nav navbar-right">
                <!-- navbar-right pulls this element right -->
                <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
            fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
            controller will not be tied to this element. -->
                <li>
                    <a href="#/logout" ng-click="signout()">Signout</a>
                </li>
                <!-- <a ng-controller="signinController" class="btn btn-default navbar-btn navbar-right" href="#" ng-if="!isAuthenticated">sign-in</a> -->
                <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
            fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
            controller will not be tied to this element.-->
            </ul>
        </div>
    </nav>
<div ng-init="showJob()"> </div>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="icon-calendar"></i>
                    <div class="col-sm-2" style="background-color:lavender;">
                        <h>Job Id </h>
                    </div>
                    <div class="col-sm-5 text-center" style="background-color:lavenderblush;">
                        <h> Title</h>
                    </div>
                    <div class="col-sm-5" style="background-color:lavender;">
                        <h>Description</h>
                    </div>
                    <br>
                    <br>
                    <div ng-repeat="x in jobs">
                        <div class="col-sm-2" style="background-color:lavender;">{{ x.id}} </div>
                        <div class="col-sm-5 text-center" style="background-color:lavenderblush;"><a href="#/showanswer/{{ x.id}}"> {{ x.title}}</a></div>
                        <div class="col-sm-5" style="background-color:lavender;">{{x.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>