<section class="video" ng-video>
    <center>
        <video vi-screen></video>
    </center>

    <section vi-controls>
        <center> <a vi-controls-play>Play</a></center>
        <center> <a vi-controls-pause>Pause</a></center>
    </section>
    <section vi-feedback>

        <ul>
            <center>
                <li>Time: {{currentTime}}s / {{duration}}s</li>
            </center>

        </ul>
        <center><a vi-full-screen-toggle>Toggle Full-Screen!</a></center>
    </section>
</section>