<div class="container-fluid">
    <!-- Creates the navbar -->
    <nav class="navbar navbar-default navbar-inverse">
        <!-- This creates the mechanism for collapse button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <!-- This controls the number of lines in the image when the nav collapse -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- This is the brand on the left-hand side. -->
        <a class="navbar-brand" href="/#/"> Winperson</a>
        <a class="navbar-brand" href="/#/showJob"> Job List</a>

        <!-- This is what is the above collapse button points to when the mark-up below is collapsed -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

            <!-- This is what "styles" the li's as navbar items -->
            <ul class="nav navbar-nav navbar-right">
                <!-- navbar-right pulls this element right -->
                <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
            fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
            controller will not be tied to this element. -->
                <li>
                    <a href="#/logout" ng-click="signout()">Signout</a>
                </li>
                <!-- <a ng-controller="signinController" class="btn btn-default navbar-btn navbar-right" href="#" ng-if="!isAuthenticated">sign-in</a> -->
                <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
            fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
            controller will not be tied to this element. -->
            </ul>
        </div>
    </nav>
    <div ng-init="showAnswer()"></div>
    <div class="page-header">
        <h2>Applicant Details</h2>
    </div>

    <section class="video" ng-video>
        <center>
            <video vi-screen></video>
        </center>

        <section vi-controls vi-feedback vi-volume>
            <center>
                <button vi-controls-play>Play</button>
                <button vi-controls-pause>Pause</button>
                <button vi-full-screen-toggle>Full-Screen</button>
                <button vi-volume-decrease>Volume(-)</button>
                <button vi-volume-increase>Volume(+)</button>
                <button vi-volume-mute>Mute</button>
                <button vi-volume-loudest>Loudest</button>
                Time: {{currentTime}}s / {{duration}}s
            </center>
        </section>
        <section vi-playlist>
            <ul vi-playlist-video ng-repeat="video in videos" ng-model="video" ng-init="last();">
                <!--<li vi-playlist-video ng-repeat="video in videos" ng-model="video" ng-init="last();"></li>-->
            </ul>
        </section>
    </section>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="gridStyle" ng-grid="gridOptions" style="margin-left:5px;margin-top:30px;"></div>
        </div>
    </div>

</div>