  <div class="ng-view"></div>



    <div class="container">
        <hr>
        <footer class="text-center">
            <div>
                <a href="http://ideas2it.com/" target="_blank">Copyright &nbsp <span class="symbolfix">&copy;</span>&nbsp 2015 &nbsp ideas2it Technologies</a>
                <div></div>
            </div>
        </footer>
    </div>
