  <div class="ng-view"></div>



    <div class="container">
        <hr>
        <footer class="text-center">
            <div>
                <a href="http://ideas2it.com/" target="_blank"> &copy; Ideas2it Technologies</a>
                <div></div>
            </div>
        </footer>
    </div>
